.portfolio {
    min-height: 250px;
    position: relative;

    .portfolio-image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .portfolio-body {
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        padding: 32px 16px;
        color: #fff;

        .portfolio-title {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        .portfolio-category {
            color: #eee;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}